@model WebApplicationSchedulePlannerMVC.Requests.CreateScheduleRequest

@{
    ViewData["Title"] = "создать расписание";
}

<link rel="stylesheet" href="~/css/bootstrap.css" />
<style>
  .schedule-button {
    margin: 5px;
    align
  }
  .schedule-block {
    border-radius: 5px;
    margin: 5px;
  }
  .send-schedule {
    width: 95%;
    margin-top: 8px;
    margin-bottom: 10px;
  }
</style>
<form asp-action="CreateSchedulePost"enctype="multipart/form-data"
method="post" class="form-inline" align="center" style="padding: 50px;
  background: #eee;
  border-radius: 25px;

  position: fixed; top: 25%; left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);">
    <div>
        <input asp-for="InputData" type="file" required/><br />
        <input type="submit" value="Создать расписание" class="btn btn-primary send-schedule" />
    </div>
    <div class="schedule-block" align="center">
        <a role="button" class="btn btn-info schedule-button" href="@ViewData["Download"]" style="width: 35%">
            Скачать
        </a>
        <a role="button" class="btn btn-success schedule-button" href="@ViewData["Watch"]" style="width: 55%">
            Просмотреть
        </a>
    </div>
</form>