@model WebApplicationSchedulePlannerMVC.Requests.CreateScheduleRequest

@{
    ViewData["Title"] = "создать расписание";
}

<link rel="stylesheet" href="~/css/bootstrap.css" />

<form asp-action="CreateSchedulePost"enctype="multipart/form-data"
method="post" class="form-inline" align="center" style="padding: 50px;
  background: #eee;
  position: fixed; top: 25%; left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);">
    <div>
        <input asp-for="InputData" type="file" required/><br /><br />
        <input type="submit" value="создать расписание" class="btn btn-primary" style="width:100%" />
    </div>
</form>

<div style="position: fixed; top: 42%; left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);">
    <a href="@ViewData["Watch"]" align="center">
        <button class="btn btn-primary">посмотреть расписание</button>
    </a> 
    
    <br />
    
    <a href="@ViewData["Download"]" align="center">
        <button class="btn btn-primary">скачать расписание</button>
    </a>
</div>