@model WebApplicationSchedulePlannerMVC.Requests.CreateScheduleRequest

@{
    ViewData["Title"] = "создать расписание";
}

<link rel="stylesheet" href="~/css/bootstrap.css" />
<style>
  .send-schedule {
    width: 95%;
    margin-top: 8px;
    margin-bottom: 10px;
  }
</style>
<title>Создать расписание</title>

<form asp-action="CreateSchedulePost"enctype="multipart/form-data"
method="post" class="form-inline" align="center" style="padding: 50px;
  border-radius: 25px;
  background: #eee;
  position: fixed; top: 25%; left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);">
    <div>
        <input asp-for="InputData" type="file" required/><br /><br />
        <input type="submit" value="Создать расписание" class="btn btn-primary send-schedule" />
    </div>
</form>